@color-primary: #f39c12;     
@color-secondary: #f1c40f;   
@color-dark: #1a1a24;        
@color-card: #252533;        
@color-text: #ffffff;
@color-text-muted: #a0a0b0;


.transicion() {
  transition: all 0.3s ease;
}